nav{
    width:96%;
    background:white;
    color:blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:3px 2%;
    border:0.2px 1px 1px 1.2px solid rgb(238, 237, 237);
    border-radius: 15px;
    box-shadow: 8px 5px 5px rgb(219, 218, 218);
    
}

nav img
{
    height:40px;
    width:40px;
}